@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}
h2{
  text-align: center;
}
.container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}
input,
select {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  font-size: 16px;
}
input:focus,
select:focus {
  border-color: #74ebd5;
  outline: none;
  box-shadow: 0 0 10px rgba(116, 235, 213, 0.2);
}
button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: linear-gradient(135deg, #acb6e5 0%, #74ebd5 100%);
}
.result {
  text-align: center;
  margin-top: 20px;
  background: #74ebd5;
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: none;
}